<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">
<head>
  <meta charset="UTF-8">
  <title>Page not found</title>
</head>
<body>
  <section class="wrapper" layout:fragment="content">
    <div class="content-wrapper">

      <div class="content text-center">

        <h1 class="display-1 weight-400 mt-5" style="font-size: 10rem;">403</h1>
        <p class="lead mb-2">There is no access to perform this action</p>

        <p class="text-muted small">Perform the action correctly.<br>Or contact technical support.</p>

        <a href="/home" class="btn btn-primary px-4 mt-4 rounded">Go Back Home</a>

      </div>
    </div>
  </section>
</body>
</html>
