<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainAuthorizedLayout}">
<head>
  <meta charset="UTF-8">
  <title>Create board view project list</title>
</head>
<body>
<div layout:fragment="content">
  <div class="row page-tilte align-items-center">
    <div class="col-md-auto">
      <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
      <h1 class="weight-300 h3 title">Create board view project list</h1>
      <p class="text-muted m-0 desc">Project selection page for creating a board</p>
    </div>
    <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
      <div class="controls d-flex justify-content-center justify-content-md-end">
        <a href="/project/create" class="btn btn-primary text-white">Create project</a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="row align-items-stretch app-switcher" th:if="${!#lists.isEmpty(projectList)}">
      <div class="col-lg-3 col-6" th:each="project : ${projectList}">
        <a href="#" th:href="@{/board/create/{alias}(alias=${project.alias})}" class="text-dark">
          <div class="card h-100">
            <div class="card-body text-center">
              <span class="material-icons md-48 " style="color:#9b84fb">category</span>
              <p class="weight-400 m-0" th:text="${project.name}">Name</p>
              <small class="weight-300 text-muted" th:text="${project.description}">Description</small>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row" th:if="${#lists.size(projectList) <= 0}">
      <div class="col-md-12">
        <p class="text-center pb-4 pt-4" th:if="${#lists.isEmpty(projectList)}">You don't have any projects yet</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
